<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <div class="example-wrapper">
        <a href="{{ path('home') }}"><img src="{{ asset('/img/logo.png') }}" alt="logo" class="logo"></a>
        <div>
            <br>
            <div class="card ">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs"  id="myTab" role="tablist">
                    {% block navbar %}

                    {% endblock %}
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
            </div>


            {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </body>
</html>
